html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
body {
  background-color: #819394;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  animation: 10000ms ease-in-out infinite opacity-change;
  overflow: hidden;
}

/* parallax elements */

.pic {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#pic-1{

  background-image: url('9.png');
}


.Absolute-Center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} 

@font-face {
  font-family: 'MyFont';
  src: url('Silent Echo DEMO.otf') format('opentype');
  letter-spacing: 0.3em;
}


/* text animation */

@keyframes fadeInUp {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
} 

/* text attributes */

h2 {
  font-family: 'MyFont';
  color: white;
  opacity: 0; 
  animation: fadeInUp 2s ease-in-out 1s forwards;
  font-size: 3vw;
  width: 85%;
  letter-spacing: 0.07em;
}
h2:hover{

    color: #b42f2f;
  }

p {
  font-family: 'MyFont';
  color: white;
  opacity: 0; 
  animation: fadeInUp 2s ease-in-out 0s forwards;
  font-size: 1.7vw ;
  width: 30%;
  letter-spacing: 0.07em;
}


/* text and link placements */

.des{
  right:67%;
    position:absolute;
    text-align:center;
    top: 40%;
    width: 30%
}



.next{
  right:-40%;
    position:absolute;
    text-align:center;
    bottom: 0%;
    width: 100%

}
