body {
  background-color: #e9824a;
  animation: 10000ms ease-in-out infinite opacity-change;
  }



@font-face {
  font-family: 'MyFont';
  src: url('Stupid Meeting_D.otf') format('opentype');
}

/* text animation*/

@keyframes fadeInUp {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
} 

/* font attributes */

h2 {
  font-family: 'MyFont';
  color: white;
  opacity: 0; 
  animation: fadeInUp 2s ease-in-out 1s forwards;
  font-size: 3vw;
  width: 85%;

}
h2:hover{

    color: #df987f;
  }

p {
  font-family: 'MyFont';
  color: white;
  opacity: 0; 
  animation: fadeInUp 2s ease-in-out 0s forwards;
  font-size: 2vw ;
  width: 80%


}


/* text and link placements */

.des{
  left: 0;
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-50%, -50%)

}

.next{
  right:-40%;
    position:absolute;
    text-align:center;
    bottom: 0%;
    width: 100%

}

