p {
	color: white;
	font-size: 17px;
	width: 900px;
	font-family: courier;

}

body {
  animation: 10000ms ease-in-out infinite color-change;
  
}

@keyframes color-change {
  0% {
    background-color: teal;
  }
  20% {
    background-color: #E75480;
	}
  40% {	
	background-color: #708090;
	  }
 
  60% {
    background-color: #9370DB;
  }
  80% {
    background-color: #2F4F4F;
  }
  100% {
    background-color: teal;
  }
}

h1 {
	color: white;
}

button {
    color: white;
    font-family: courier;
    border-radius: 3px;
    font-size: 17px;
    padding: 5px;
    background-color: #214569; 
}