

body {
	background-color: black;
  animation: 10000ms ease-in-out infinite opacity-change;
	}



@font-face {
  font-family: 'MyFont';
  src: url('DK Rabbit On The Moon.otf') format('opentype');
}

@keyframes fadeInUp {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
h1 {
  font-family: 'MyFont';
  color: #f0eaa6;
  opacity: 0; 
  animation: fadeInUp 2.5s ease-in-out 0.5s forwards;
  font-size: 600%;
}  

h2 {
  font-family: 'MyFont';
  color: #fdfbbe;
  opacity: 0; 
  animation: fadeInUp 1.5s ease-in-out 0s forwards;
  font-size: 250%;
  width: 85%;
}  

p {
  font-family: 'MyFont';
  color: #af475c;
  opacity: 0; 
  animation: fadeInUp 3s ease-in-out 1.5s forwards;
  font-size: 150%;
  width: 70%;
}

.Country {
  left: 0;
    position:absolute;
    text-align:center;
    top: 5px;
    width: 100%

}

.deer{
  position: absolute;
    top: 80%;
    left:50%;
    transform: translate(-50%, -50%);
}


.Absolute-Center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}  

@keyframes fadeIn { 
  from { opacity: 0.3; } 
}

.light {
  position: absolute;
  top: 25%;
  left: 10%;
  
  animation: fadeIn 1.5s infinite alternate;
}

.light1 {
  position: absolute;
  top: 35%;
  left: 33%;
  
  animation: fadeIn 1s infinite alternate;
}
.light2 {
  position: absolute;
  top: 20%;
  left: 60%;
  
  animation: fadeIn 2s infinite alternate;
}
.light3 {
  position: absolute;
  top: 42%;
  left: 75%;
  
  animation: fadeIn 1.3s infinite alternate;
}

